@import "tailwindcss";
@plugin "daisyui";

.navLink.active {
    color: #632ee3;
    text-decoration: underline;
}

.rotatingLogo {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

